// Colors

$primary: #3b71ca;
$secondary: #9fa6b2;
$light: #fbfbfb;
$dark: #332d2d;
$success: #14a44d;
$danger: #dc4c64;
$warning: #e4a11b;
$main: #757473;
$dashboard: #f6f4f3;

// Normalise

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@for $i from -10 through 10 {
  .mt#{$i} {
    margin-top: $i * 10px;
  }
  .mb#{$i} {
    margin-bottom: $i * 10px;
  }
  .ml#{$i} {
    margin-left: $i * 10px;
  }
  .mr#{$i} {
    margin-right: $i * 10px;
  }
  .m#{$i} {
    margin: $i * 10px;
  }

  .pt#{$i} {
    padding-top: $i * 10px;
  }
  .pb#{$i} {
    padding-bottom: $i * 10px;
  }
  .pl#{$i} {
    padding-left: $i * 10px;
  }
  .pr#{$i} {
    padding-right: $i * 10px;
  }
  .p#{$i} {
    padding: $i * 10px;
  }
}

@for $i from 0 through 12 {
  .col-#{$i} {
    width: 100% / 12 * $i;
  }
}

@media only screen and (max-width: 767px) {
  [class*="col-"] {
    width: 100%;
  }
}

// Main

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  font-size: large;
  background-color: $primary;
  color: $light;
  div {
    display: flex;
    align-items: center;
    justify-content: center;

    & > a {
      text-decoration: none;
      color: inherit;
      margin-left: 20px;
    }
    & > button {
      margin-left: 20px;
    }
  }
  button {
    color: inherit;
    background-color: inherit;
    border: none;
    font-size: 18px;
  }
}

.signin-container {
  display: grid;
  place-items: center;
  height: calc(100vh - 44px);
}

.signin {
  border: 1px solid $secondary;
  padding: 1em;
  width: 60vw;
  min-width: 320px;
  form {
    padding: 10px;
    display: block;
    .input_form {
      margin: 20px 0;
      display: flex;
      flex-direction: column;
      & > input {
        display: flex;
        border: 1px solid $secondary;
        border-radius: 2px;
        font-size: 20px;
        padding: 10px;
        &:focus-visible {
          outline: none;
        }
      }
    }
    .submit_btn {
      text-align: right;
      & > button {
        font-size: 20px;
        padding: 10px 30px;
        background-color: $primary;
        color: $light;
        border: none;
      }
    }
  }
}

.dashboard {
  font-family: "Rubik", sans-serif;
  background-color: $dashboard;
  padding: 20px;
  color: $main;
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 3px solid $main;
    & > div:first-child {
      display: flex;
      align-items: center;
      img {
        width: 50px;
        margin-right: 10px;
      }
      h2 {
        color: $dark;
      }
    }
    & > div:last-child {
      h2 {
        color: $dark;
      }
    }
  }
  .top_content {
    @media screen and (min-width: 765px) {
      display: flex;
    }
    margin: 15px 0;
    & > div {
      &.top_left {
        & > img {
          width: 100%;
        }
      }
      &.top_right {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 15px;
        padding: 0;
        margin-top: 20px;
        @media screen and (min-width: 765px) {
          padding: 0 20px;
          margin-top: 0;
        }
        div {
          & > p {
            padding-left: 10px;
          }
          h3 {
            color: $primary;
          }
        }
      }
    }
  }
  .bottom_content {
    margin: 30px 10px 50px 10px;
    @media screen and (min-width: 768px) {
      display: flex;
    }
    & > div {
      width: 100%;
      @media screen and (min-width: 768px) {
        width: 20%;
      }
      padding: 5px;
      display: grid;
      place-items: center;
      height: 100%;
    }
    & > img {
      width: 100%;
      @media screen and (min-width: 768px) {
        width: 20%;
      }
    }
  }
}

footer {
  position: fixed;
  font-size: large;
  bottom: 0;
  width: 100%;
  align-items: center;
  background-color: $primary;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  @media screen and (max-width: 424px) {
    font-size: 12px;
  }
}
